/* Dashboard.module.css */
.dashboardContainer {
  display: flex;
  height: 100vh;
  color: #fff;
  /* Light text for dark themes */
  background: #121212;
  /* Dark background for futuristic theme */
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  /* Prevent scrolling on the main container */
}

.sidebar {
  width: 250px;
  /* Adjusted for better spacing */
  background-color: #1f1f1f;
  /* Slightly lighter than the container for depth */
  padding-top: 80px;
  /* Space for header */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  /* Subtle shadow for depth */
}

.sidebarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* Align items vertically */
}

.sidebarList li {
  cursor: pointer;
  padding: 15px 20px;
  /* Larger padding for touch friendliness */
  transition: background-color 0.3s, border-left-color 0.3s;
  /* Smooth transition for hover */
}

.sidebarList li:hover,
.activeTab {
  background-color: #292929;
  /* Slightly highlighted on hover */
  border-left: 3px solid #4b8bec;
  /* Blue accent color for selection */
}

.mainContent {
  flex-grow: 1;
  padding-top: 80px;
  /* Adjust this value to match the height of your header */
  padding: 40px;
  background: #181818;
  overflow-y: unset;
  /* Enable scrolling for this content area */
}

.mainContent h2 {
  color: #fff0f6;
  /* Blue accent color for headings */
  margin-bottom: px;
  /* Space below headings */
  font-weight: 500;
  /* Lighter font-weight for headings */
  font-size: 2.5rem;
}

.mainContent p {
  color: #aaa;
  /* Light grey for paragraphs for better readability */
  line-height: 1.6;
  /* Adequate line spacing for reading comfort */
}


/* Styling for buttons and interactive elements */
.btn {
  background: #4b8bec;
  /* Blue accent color for buttons */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  /* Rounded corners for buttons */
  transition: background-color 0.3s;
  /* Transition for button hover */
}

/* Dashboard.module.css */

.heading {
  color: #fff0f6;
  /* Blue accent color for headings */
  text-align: center;
  /* Center the heading text */
  margin-bottom: 20px;
  /* Space below headings */
}

/* Updated styles for the text input field to make it light and clean */
.inputContainer {
  max-width: 500px;
  /* Set a max-width for larger screens */
  margin: 30px auto;
  /* Center the input container and add some margin around */
  color: #000;
}


.textField {
  /* Apply the styles directly to the TextField component */
  background-color: #2c2c2c;
  border-radius: 4px;
}

.inputLabel {
  /* Apply these styles to the label inside the TextField */
  color: #ffffff !important;
}

.input {
  /* Apply these styles to the input part inside the TextField */
  color: #ffffff !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  /* This targets the outline border of the TextField */
  border-color: rgba(255, 255, 255, 0.7) !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  /* This targets the outline border of the TextField on hover */
  border-color: rgba(255, 255, 255, 1) !important;
}

/* If you want to remove the border color on focus as well */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
  /* Set border color to transparent or to the same as the field background */
  box-shadow: none !important;
}

.MuiOutlinedInput-input {
  /* This targets the input text inside the TextField */
  color: #ffffff !important;
}

.MuiInputLabel-outlined {
  /* This targets the label of the TextField */
  color: #ffffff !important;
}

/* Ensure the placeholder text color is white */
.MuiOutlinedInput-input::placeholder {
  color: #ffffff;
  opacity: 1;
  /* Make sure it's fully visible */
}

/* QR Code Styles */
.qrCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1e;
  /* Slightly lighter than the main background */
  margin: 0 auto 30px;
  /* Center the QR code container and add some margin below */
  padding: 20px;
  border-radius: 8px;
  /* Rounded corners for the QR code container */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  /* More pronounced shadow for depth */
  max-width: 300px;
  /* Set a max-width for the QR code container */
}

/* Ensure the QR code canvas has a white background */
.qrCodeContainer canvas {
  background-color: #fff;
  border-radius: 4px;
  /* Rounded corners for the QR code itself */
}

.downloadButtonContainer {
  text-align: center;
  /* Center the button container */
  margin-top: 20px;
  /* Space above the button */
}

.downloadButton {
  background: #5d5dff;
  /* Blue accent color for buttons */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  /* Rounded corners for buttons */
  cursor: pointer;
  /* Change mouse pointer on hover */
  transition: background-color 0.3s;
  /* Transition for button hover */
}

.downloadButton:hover {
  background: #4c4cf8;
  /* Lighter blue on hover */
}


.manageAssetsComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.chatContainer {
  /* allow scrolling */
  overflow-y: auto;
  /* set a max-height to prevent the chat from taking up the entire screen */
}